@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@100;200;300;400;500;600;700&display=swap');

*{
    font-family: "DM Sans";
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.row{
    margin: 0 !important;
}

.hero-page{
    background: #482be7;
}



.top-nav1{
    font-size: larger;
    margin: 20px;
    
    


}
.top-nav1 li{
    margin: 10px;
    list-style: none;
}
.top-nav1 a{
    text-decoration: none;
    color:#fff ;
    text-transform: uppercase;
    font-weight: 600;
    font-style: italic;
    
}











.navtop4{
    color: #1E0E62 !important ;
    font-weight: 600;
    font-size: 20px;
}



.navsite4 a{
    margin-top: 15px;
    
    color: rgb(190, 188, 185) !important;
    font-weight: 500;
    font-size: 13px;
    
}


.navhead4 .startup4{
    color: #1E0E62 !important;
    font-size: 17px !important;
    font-weight: 700;
}

/* styling the hero section */

.hero-writeup{
    display: flex;

}

.hero-writeup img{
    margin-left: -80px;
}

.hero-writeup h2{
    color: #1E0E62;
    font-size:45px;
    box-sizing: border-box;
    font-weight: 700;
    
    
}

.hero-writeup p {
    color:  rgb(145, 143, 139) ;
    margin-top: 40px;
    margin-bottom: 80px;
    font-weight: 500;
    font-size: 17px;
}

.hero-btn{
    background: #482BE7 ;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: 400;
    font-size: 15px;
    margin-top: 15px;
}

@media screen and (min-width: 1000px){
    .navhead4{
        flex-direction: column !important;
    }
    
}

@media screen and (max-width: 365px){
    .navhead4 .startup4{
        font-weight: 400;
        font-size: 15px;
    }
}





@media screen and (max-width: 992px) {

.hero-writeup img{
       display: none;
}

.watch1 img{
    width: 75%;
}


.hero-btn{
    margin-bottom: 20px;
    width: 100%;
}
br{
    display: none;
}
.navbar-toggler{
    margin-left: 110px;
}
.hero-btn{
    margin-bottom: 30px;
}

}



/* starting the second project */



.index2{
    background: #2F1893;
}

.navhead2{
    padding-top: 30px !important;
    
}

.navbar-toggler-icon{
    background-color: #fff !important;
    
}

.navhead2 .startup2{
    color: #fff !important;
    font-size: 19px;
    font-weight: 500;
}

.navselect2 a{
    color: #fff !important;
   
}

/* #navbarNav{

    font-size: 16px;
    font-weight: 500;
} */

/* styling the project 2 hero section */

.hero-sec2{
    color: #fff;
    padding-top: 40px;
}

.hero-writeup2 h3{
    font-size: 30px;
    font-weight: 700;
}

.hero-writeup2 p{
    font-size: 16px;
    font-weight: 500;
    color: rgb(172, 177, 182);
    margin-top: 20px;
}

.hero2-btn1{
    background: #25DAC5;
    border: none;
    color: #fff;
    padding: 15px 40px;
    border-radius: 30px;
}

.hero2-btn p{
    font-size: 15px;
    font-weight: 400;
    margin-left: 20px;
    color: rgb(172, 177, 182);
    margin-top: 10px;
}


.saltyp img{
 width: 100%;
 margin-top: 40px;
 margin-bottom: 20%;
}

.mediapic{
    position: relative;
}


.paly{
    position: absolute;
    bottom: 56%;
    left: 47%;
}

.paly img{
    width: 70%;
}


@media screen and (max-width: 545px){
    .paly{
        bottom: 48%;
        left: 45%;
    }

    .paly img{
        width: 40%;
    }

   
}


@media screen and (max-width: 365px){

    .navhead2 .startup2{
        font-size: 13px;
        font-weight: 300;
    }
}


@media screen and (max-width: 280px){
    .paly img{
        width: 25%;
    }
    .paly{
        bottom: 45%;
    }

}

@media screen and (max-width: 992px){
    .hero2-btn p{
        text-align: center;
    }
}





/* starting the fifth project */

 /* {
} */


.index5{
    background: #1E0E62;
    background-attachment: fixed;
}

.navbar2{
    margin-left: 72% !important;
    margin-top: 50px !important;

}

.hero5 img{
    width: 40% !important;
    /* margin-top: 30%; */
    margin-left: 20%;
}

.hero-writeup5{
    color: #fff;
    /* margin-top: 17%; */
    
}

.hero-writeup5 h3{
    /* font-size: 20px; */
    font-weight: 500;
    margin-bottom: 30px;
}

.hero-writeup5 h1{
    font-size: 72px;
    font-weight: 700;
    /* margin-bottom: 30px; */
}

.hero-writeup5 p{
    font-size: 19px;
    font-weight: 400;
    /* margin-bottom: 30px; */
}
.hero2-btn1{
    background: #25DAC5;
    border: none;
    color: #fff;
    padding: 15px 30px;
    border-radius: 30px;
}

/* styling the second section of index5 */
.easy h5{
    font-size: 13px;
    color: #1E0E62;
    font-weight: 700;
    text-transform: uppercase;
}
.easy p{
    font-size: 13px;
    font-weight: 500;
    color: rgb(124, 118, 118);
}

.Variety h5{
    font-size: 13px;
    color: #1E0E62;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 30px;
    border-top: 1px solid rgb(190, 187, 187);
    padding: 20px 0;
    border-bottom: 1px solid rgb(190, 187, 187);
    
}

.feel h5{
    font-size: 13px;
    color: #1E0E62;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 30px;
}

.feel img{
    margin-top: -3px;
}

.have h6{
    color: rgb(124, 118, 118);
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
}

.have p{
    color: #1E0E62;
    font-size: 13px;
    font-weight: 500;
}

.have-btn{
    background-color:#1E0E62;
    color: #fff;
    border-radius: 20px;
    outline: none;
    border: none;
    padding: 3px 7px;
}

.clients{
    color: #fff;
    text-align: center;
}
.clients h3{
    font-size: 30px;
    font-weight: 500;
}

.clients p{
    font-size: 12px;
    font-weight: 400;
    color: rgb(193, 185, 185);
}



.Fox img{
    border: 1px solid rgb(90, 88, 88);
    padding: 50px 60px;
    border-radius: 3px;
    margin-left: 20px;
    margin-top: 25px; 
}
.google img{
    border: 1px solid rgb(90, 88, 88);
    padding: 50px 50px;
    margin-left: 20px;
    border-radius: 3px;
   margin-top: 25px; 
}
.walmart img{
    border: 1px solid rgb(90, 88, 88);
    padding: 50px 37px;
    border-radius: 3px;
    margin-left: 20px;
    margin-top: 25px; 
}
.adidad img{
    border: 1px solid rgb(90, 88, 88);
    padding: 37px 60px;
    border-radius: 3px;
    margin-left: 20px; 
    margin-top: 25px;  
}

.pizza img{
    border: 1px solid rgb(90, 88, 88);
    padding: 37px 70px;
    border-radius: 3px;
    margin-left: 20px; 
    margin-top: 25px; 
    
}

.philips img{
    border: 1px solid rgb(90, 88, 88);
    padding: 66px 40px;
    border-radius: 3px;
    margin-left: 20px; 
    margin-top: 25px;  
}

.cnn img{
    border: 1px solid rgb(90, 88, 88);
    padding: 55px 75px;
    border-radius: 3px;
    margin-left: 20px; 
    margin-top: 25px;  
}

.beans{
    border: 1px solid rgb(90, 88, 88);
    padding: 37px 27px;
    border-radius: 3px;
    margin-left: 20px; 
    margin-top: 25px;  
}



@media screen and (max-width: 992px){

    .hero-writeup5 h3{
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 30px;
    }
    
    .hero-writeup5 h1{
        font-size: 40px;
        font-weight: 500;
        margin-bottom: 30px;
    }
    
    .hero-writeup5 p{
        font-size: 15px;
        font-weight: 400;
        margin-bottom: 30px;
    }   

    .navtopbnt{
        margin-left: 70% !important;
    
    }

    .navbar-toggler-icon{
        color: #fff !important;
    }

    br {
        display: none;
    }

    .hero2-btn1 {
        width: 100%;
    }

    .hero-writeup5 {
        padding: 0 0 30px 0;
    }

    .hero-writeup5 h3 {
        margin: 20px 0 0;
    }
    
    .fa-bars{
        margin-left: 85%;
    }

    .have h6{
        margin-bottom: 20px;
    }

    .have-btn{
        margin: 20px 0;
    }

    


}

@media screen and (min-width: 1800px) {
    .ima {
        margin: 5% auto;
    }

    .hero-writeup5 {
        margin: 10% auto;
    }
}




/* styling the project one */
.index1{
    background-image: url(./assets/Image.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgba(13, 0, 200, 0.772);
    background-size: cover;
    background-size: 100%;
    height: 100%;
    
}

.nav-site1 .startup1{
color: #fff !important;
font-size: 20px;
font-weight: 700;

}

.nav-link1 a{
    color: #fff !important;
    font-size: 15px;
    font-weight: 500;
}
.bnt-top{
    background-color: #25DAC5 !important;
    color: #fff;
    border: none;
    border-radius: 15px;
    padding: 5px 15px;
    font-size: 11px;
}
.bnt-top:hover{
    background-color: #fff !important;
    color: #482be7;
}

.hero-text1{
    color: #fff;
}

.hero-text1 h1{
    font-size: 50px;
    font-weight: 600;
}


.hero1-text2{
    display: flex;
    width: 80%;
    
}

.hero1-text2 p{
    font-size: 12px;  
}

.htm{
    margin-left: 50px;
}

.macbok img{
    margin-left: 160px;
    width: 97%;   
}

@media screen and (min-width: 1800px){
    .macbok img{
        margin-left: 285px;
    }
}


@media screen and (min-width: 530px) and (max-width: 920px){
    .macbok img{
        margin-left:60px;
    }
}




@media screen and (max-width: 500px){

    .index1{
        background-size: cover;
    }


    .macbok img{
        margin-left: 39px;
        margin-top: 20px;
    }
    .nav-site1 .startup1{
        font-weight: 500;
        font-size: 19px;
    }

    br{
        display: none;
    }
    
    .hero1-text2{
        flex-direction: column;
        /* text-align: center; */
        /* margin-left: 30px; */
    }

    .htm{
        margin-left: 0 !important;
        margin-top: 30px;
    }
}

@media screen and (max-width: 365px){
    .nav-site1 .startup1{
        font-size: 17px;
    }
}


/* styling project 3 */


.index3{
    background-image: url(./assets/startup3\ img.png);
    background-color: rgba(0, 0, 200, 0.7);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    background-size: cover;
    }
    
    .vodka{
    color: #fff !important;
    }
    
    .navwork a{
        color: #fff !important;
    }
    
    .btntop{
        color: #08137a !important;
        padding: 1px 20px !important;
        border-radius: 30px !important;
    }
    
    
    
    .road{
        display: flex;
    }
   
    
  
    
    .btn3{
        border-radius: 50px !important;
        padding: 7px 25px !important;
        
    }
    
    .great{
        color: #08137a !important;
    }
    
    .great2{
        margin-left: 20px;
    }
    
    .herotext{
        margin-top: 50px;
        color: #fff;
    }
    
    .herotext h1{
        margin-bottom: 20px;
        font-size: 50px;
        font-weight: 500;
    }
    
    .herotext p{
        margin-bottom: 30px;
    }
    
    @media screen and (max-width: 992px) {
     
        /* .index3{
            width: 100%;
        } */


        .road{
            flex-direction: column;
        }
    
        .btn3{
            width: 100%;
            margin-top: 10px;
        }
    
        .great2{
            margin-top: 20px;
            margin-left: 0px;
        }

        br{
            display: none;
        }
    }
    
        
    
   